.main_page_main_section{
    width: 768px;
    margin-right: 32px;
    font-family: 'Pretendard';
}

.boards{
    margin-top: 56px;
    margin-bottom: 140px;
    width: 768px;
    height: 1594px;

    display: grid;
    grid-template-columns: repeat(2, 368px);
    grid-template-rows:  314px repeat(4, 264px);
    gap: 56px 32px;
}

.main_section_board{
    background: #FFFFFF;
    /* border: 1px solid #DBDBDB; */
    border-radius: 8px;
}

.main_section_board:nth-child(1) {
	grid-column: 1 / 3;
}

.main_section_board:nth-child(8) {
	grid-column: 1 / 3;
}

.board_header{
    position: relative;
    width: 100%;
    height: 44px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #000000;

    border-bottom: 4px solid #111111;
}

.go_more{
    position: absolute;
    top: 6px;
    right: 0px;
    text-decoration: none;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #888888;

    transition: all .1s ease-out;
}

.go_more:hover{
    color: #111111;
    font-weight: 600;
}

.board_body{
    width: 100%;
    height: 200px;
    margin-top: 16px;
}

.board_content{
    position: relative;
    width: 100%;
    height: 40px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #333333;

    display: flex;
    align-items: center;
}

.content_info{
    width: 42px;
    position: absolute;
    right: 0;

    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #888888;

    display: flex;
    align-items: center;
}

.comment_icon{
    font-size: 12px;
}

.comment_count{
    margin-left: 4px;
}

.main_board_body{
    width: 100%;
    height: 250px;
    margin-top: 16px;
}

.main_board_content{
    position: relative;
    width: 100%;
    height: 50px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #333333;

    display: flex;
    align-items: center;
}

.board_category{
    width: 80px;
    height: 34px;

    background: #F6E9FC;
    border-radius: 4px;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #9400DA;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 12px;
}

.main_board_content_info{
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 110px;
    height: 18px;
    right: 0;
}

.view_info, .comment_info{
    width: 50px;
    height: 18px;
    display: flex;
    align-items: center;
    color: #888888;
}

.view_icon{
    font-size: 16px;
    display: flex;
    align-items: center;
}

.view_count{
    margin-left: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}