.search_bar{
    position: relative;
    background: #FFFFFF;
    border-radius: 50px;
}

.in_main{
    width: 768px;
    height: 60px;
    border: 2px solid #AC0BF8;
}

.not_in_main{
    width: 320px;
    height: 40px;
    border: 1px solid #CCCCCC;

    position: absolute;
    top: 50%;
    right: 232px;
    transform: translate3d(0, -50%, 0); 
}

.in_main .search_icon{
    font-size: 32px;
    color: #AC0BF8;

    position: absolute;
    top: 50%;
    left: 24px;
    transform: translate3d(0, -50%, 0); 
}

.not_in_main .search_icon{
    font-size: 24px;
    color: #666666;

    position: absolute;
    top: 50%;
    left: 16px;
    transform: translate3d(0, -50%, 0); 
}

.in_main .search{
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #AC0BF8;

    width: 624px;
    height: 45px;
    border: 0;
    outline: none;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0); 
}

.not_in_main .search{
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #666666;

    width: 240px;
    height: 20px;
    border: 0;
    outline: none;

    position: absolute;
    top: 50%;
    left: 48px;
    transform: translate3d(0, -50%, 0); 
}

.in_main .search.search::placeholder{
    color: #cf94eb;
}

.not_in_main .search.search::placeholder{
    color: #a8a8a8;
}