.footer{
    position: relative;
    background-color: #F4F4F4;
    width: 100%;
    height: 100px;

    font-family: 'Pretendard';
}

.footer_contents{
    width: 800px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0); 

    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    color: #666666;
}

.footer_text{
    margin: 0;
    margin-bottom: 0.75rem;
}